[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
django-pydenticon = "*"
pillow = "*"

[dev-packages]
django-debug-toolbar = "*"
python-dotenv = "*"
black = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.1"
